@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  width: 1440px;
  height: 5792px;
  margin: 0;
  background-color: #fff;

  /* display: flex; */
}

.logo {
  color: #0e0578;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  position: absolute;
  margin: 0;
  top: 45px;
  left: 78px;
}

nav {
  position: absolute;
  top: 45px;
  left: 570px;
}

.menu {
  display: flex;
  padding: 0;
  justify-content: space-between;
  width: 740px;
  height: 45px;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #686565;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  text-decoration: none;
}

.menu li a:active {
  color: #0e0578;
}

.home-page-text {
  position: absolute;
  top: 318px;
  left: 78px;
  width: 616px;
  height: 287px;
}

.greeting {
  color: #2000e7;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 0 0 5px 0;
}

h2 {
  color: #2000e7;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.introduction {
  width: 500px;
  margin: 0 0 21px 0;
}

.introduction-content {
  color: #383838;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hire-me-button {
  position: absolute;
  top: 716px;
  left: 77px;
  width: 246px;
  height: 72px;
  border-radius: 10px;
  background: #2000e7;
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}

.my-projects-button {
  position: absolute;
  top: 716px;
  left: 402px;
  width: 246px;
  height: 72px;
  border-radius: 10px;
  border: 2px solid #2000e7;
  background: rgba(32, 0, 231, 0.04);
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  color: #2000e7;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}

.hire-me-button:active,
.my-projects-button:active {
  background: #9a92ce;
}

.author-photo {
  position: absolute;
  top: 340px;
  left: 772px;
}
