@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  width: 1440px;
  height: 5792px;
  margin: 0;
  background-color: #fff;

  /* display: flex; */
}

h1 {
  color: #0e0578;
  font-family: "Poppins";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  position: absolute;
  margin: 0;
  top: 45px;
  left: 78px;
}
