/*------------ General styles -------------*/
@font-face {
  font-weight: 400;
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 500;
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 700;
  font-family: "Jost";
  src: url("./assets/fonts/Jost-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1440px;
  height: 5792px;
}

h2 {
  color: #2000e7;
  font: normal 700 48px / normal Poppins;
}

p {
  font: normal 500 24px / normal Poppins;
}

.hire-me-button,
.my-projects-button {
  /* [button-type^="hire-me-button"],
[button-type^="my-projects-button"] { */
  position: absolute;
  width: 246px;
  height: 72px;
  border-radius: 10px;
  background: #2000e7;
  box-shadow: 11px 21px 15px 6px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  font: normal 400 24px / normal Poppins;
  color: #fff;

  text-decoration: none;
}

.hire-me-button:active,
.my-projects-button:active {
  /* [button-type^="hire-me-button"]:active,
[button-type^="my-projects-button"]:active { */
  background: #9a92ce;
}

/*-----------------------------------------*/

/*---------- "Home page" styles -----------*/
.logo {
  position: absolute;
  top: 45px;
  left: 78px;
  color: #0e0578;
  font: normal 700 48px / normal Poppins;
  text-decoration: none;
}

nav {
  position: absolute;
  top: 45px;
  left: 570px;
}

.menu {
  width: 740px;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  color: #686565;
  font: normal 400 30px / normal Poppins;
  text-decoration: none;
}

.menu li a:active {
  color: #0e0578;
}

.home-page-text {
  position: absolute;
  top: 318px;
  left: 78px;
  width: 616px;
}

.greeting {
  color: #2000e7;
  font-size: 30px;
  margin-bottom: 5px;
}

.introduction {
  width: 500px;
  margin-bottom: 21px;
}

.last-word {
  color: #f2bd00;
}

.introduction-content {
  color: #383838;
}

.home-page .hire-me-button {
  top: 716px;
  left: 77px;
}

.home-page .my-projects-button {
  top: 716px;
  left: 402px;
  border: 2px solid #2000e7;
  background: rgba(32, 0, 231, 0.04);
  color: #2000e7;
}

.author-photo {
  position: absolute;
  top: 340px;
  left: 772px;
}

/*-----------------------------------------*/

/*-------- "About Me" page styles ---------*/
.about-me-page {
  position: absolute;
  top: 1066px;
  width: 1440px;
  height: 910px;
  background: rgba(67, 186, 253, 0.06);
}

.about-me-page h2 {
  position: absolute;
  top: 206px;
  left: 45px;
  letter-spacing: 16.8px;
}

.about-me-page p {
  position: absolute;
  top: 292px;
  left: 45px;
  width: 415px;
  color: #000;
}

.about-me-page .hire-me-button {
  top: 620px;
  left: 77px;
}

.about-me-page img {
  position: absolute;
  top: -15px;
  left: 540.24px;
}

/*-----------------------------------------*/

/*------- "My projects" page styles -------*/
.my-projects-page {
  position: absolute;
  top: 2277px;
  width: 1440px;
  height: 910px;
  background: rgba(255, 214, 150, 0.2);
}

.my-projects-page h2 {
  position: absolute;
  top: 35px;
  left: 488px;
  color: #3b1fea;
  letter-spacing: 9.6px;
}

.my-projects-page p {
  position: absolute;
  top: 107px;
  left: 412px;
  color: #000;
}

.images-table {
  position: absolute;
  top: 189px;
  bottom: 65px;
  left: 108px;
  right: 191px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.shift {
  margin-left: 100px;
  margin-right: 100px;
}

.images-table img {
  width: 246px;
  height: 180px;
  border-radius: 6px;
}

/*-----------------------------------------*/

/*-------- "Contact Me" page styles -------*/
.contact-me-page {
  position: absolute;
  top: 3459px;
  width: 1440px;
  height: 1316px;

  background: rgba(67, 186, 253, 0.06);
}

.contact-me-page h2 {
  position: absolute;
  top: 67px;
  left: 457px;
  color: #220be8;
  font-size: 64px;
  letter-spacing: 17.28px;
}

.contact-me-page p {
  position: absolute;
  top: 173px;
  left: 435px;
  width: 591px;
  height: 36px;
  color: #000;
}

.contact-me-page form {
  position: absolute;
  top: 368px;
  left: 66px;

  display: flex;
  flex-direction: column;
  width: 653px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.contact-me-page input,
.contact-me-page textarea {
  height: 94px;
  background: #fff;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;

  color: #000;
  font: normal 400 32px / normal Poppins;

  margin-bottom: 81px;
  padding-left: 55px;
  box-sizing: border-box;
}

.contact-me-page textarea {
  height: 265px;
  margin-bottom: 49px;
  padding-top: 30px;
  resize: none;
}

.contact-me-page input::placeholder,
.contact-me-page textarea::placeholder {
  color: #000;
}

.contact-me-page button {
  width: 327px;
  height: 94px;
  background: #fff;
  box-shadow: 13px 21px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0;

  color: #000;
  font: normal 400 32px / normal Poppins;

  cursor: pointer;

  align-self: center;
}

.contact-me-page img {
  position: absolute;
  top: 189px;
  left: 584px;
  width: 958px;
}

/*-----------------------------------------*/

/*-------------- Footer-styles ------------*/
footer {
  position: absolute;
  top: 4983px;
  width: 1440px;
  height: 809px;
  background: rgba(255, 214, 150, 0.2);
}

footer h2 {
  position: absolute;
  top: 132px;
  left: 74px;
  color: #0e0578;
  width: 386px;
  letter-spacing: 16.8px;
}

footer input {
  position: absolute;
  top: 254px;
  left: 27px;
  width: 323px;
  height: 97px;
  border-radius: 30px;
  border: none;
  background: #000;
  box-sizing: border-box;
  padding-left: 33px;

  color: #fff;
  font: normal 700 31px / normal Jost;
}

footer input::placeholder {
  color: #fff;
}

footer button {
  position: absolute;
  top: 254px;
  left: 289px;
  width: 178px;
  height: 97px;
  border-radius: 30px;
  background: #f965fc;
  border: none;

  color: #fff;
  font: normal 700 31px / normal Jost;
}

footer .additional-info {
  position: absolute;
  top: 137px;
  bottom: 275px;
  left: 571px;
  right: 0;

  display: flex;
  justify-content: space-between;
}

.additional-info ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #000;
  font: normal 400 31px / normal Jost;

  list-style-type: none;
}

.additional-info ul li:first-child {
  font-weight: 700;
}

.contact-list {
  width: 280px;
}

.additional-info a {
  text-decoration: none;
  color: #000;
}

footer hr {
  position: absolute;
  top: 633px;
  left: 60px;
  right: 47px;
  height: 3px;
  background-color: #000;
  border: none;
}

.copyright {
  position: absolute;
  top: 713px;
  left: 47px;

  color: #000;
  font: normal 400 32px / normal Jost;
}

footer .social-links {
  position: absolute;
  bottom: 53px;
  left: 978px;
  right: 41px;

  display: flex;
  justify-content: space-between;
}

.social-links img {
  height: 40px;
  width: auto;
}

/*-----------------------------------------*/
